@font-face {
	font-family:'Minecraft Regular';
	src:url("../fonts/minecraft_font_by_pwnage_block-d37t6nb.eot?") format("eot"),
	url("../fonts/minecraft_font_by_pwnage_block-d37t6nb.woff") format("woff"),
	url("../fonts/minecraft_font_by_pwnage_block-d37t6nb.ttf") format("truetype"),
	url("../fonts/minecraft_font_by_pwnage_block-d37t6nb.svg#Minecraft") format("svg");
	font-weight:normal;
	font-style:normal;
}

.stats-cont{
	color:white;
	font-family:'Minecraft Regular';
	height:auto;
	width:auto;
	font-weight:bold;
	font-size:0.9em;
	margin-top:100px;
	margin-left:-110px;
}
.hp{
	margin-left:5px;
	position:relative;
}
.mana{
	margin-left:30px;
	position:relative;
}
.inv{
	margin-left:-10px;
}
.flee{
	margin-left:-65px;
}

.mons{
	height:140px;
	width:300px;
}

a:hover{
	color:#B80000;
}

a{
	text-decoration:none;
	color:white;
}
a:visited{
	text-decoration:none;
}